.botaoFuncao {
    background-color: #c40606;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5%;
    box-shadow: 6px 9px 8px 0px rgba(0,0,0,0.75);
}